<div class="container">
  <mat-form-field class="monthSelector">
    <mat-label>Wybierz miesiąc</mat-label>
    <mat-select [(ngModel)]="chosenMonth">
      <mat-option
        *ngFor="let month of months | keyvalue; let i = index"
        [value]="i"
        >{{ month.value }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSubmit()">
    Wybierz
  </button>
</div>

<ng-template let-dayNum let-monthToPass #template1>
  <mat-grid-tile>
    <app-day-card
      [dayNumber]="dayNum"
      [monthToDisplay]="monthToPass"
    ></app-day-card>
  </mat-grid-tile>
</ng-template>

<mat-grid-list cols="7" rowHeight="400px" *ngIf="numbers.length">
  <div *ngIf="display">
    <ng-container
      *ngFor="let num of numbers; let i = index; trackBy: trackByFn"
      [ngTemplateOutlet]="template1"
      [ngTemplateOutletContext]="{ dayNum: i + 1, monthToPass: month }"
    ></ng-container>

    <!-- <app-day-card [dayNumber]="i + 1" [monthToDisplay]="month"></app-day-card> -->
  </div>
</mat-grid-list>
